#container-localizacao-veiculos .leaflet-container {
  width: 782px;
  height: 396px;
  border-radius: 8px;
  margin-top: 24px;
  margin-bottom: 24px;
}

#container-localizacao-veiculos .leaflet-container .leaflet-popup-content p:first-child {
  margin-bottom: .5rem;
}

#container-localizacao-veiculos .leaflet-container .leaflet-popup-content p:last-child {
  margin-top: 0;
}